@use "../BASE/partials" as *;

.calculator {
  //height: 500px;
  width: 336px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;

  position: absolute;
  bottom: 280px;
  left: 20%;
}

.calculator_display_center {
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calculator_problem {
  text-align: right;
  font-size: 16px;
}

.calculator_result {
  text-align: right;
  font-size: 44px;
  font-weight: 500;
}

.calculator_control_center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.calculator_button {
  width: 80px;
  height: 50px;
  background-color: #F9F9F9;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-weight: 500;

  &:hover {
    background-color: #f1f0f0;
  }
}